<h2>New Client Registration </h2>

<%= form_with model: @client do |form| %>
<p>
  <%= form.label :name%><br>
  <%= form.text_field :name%>  
</p>

<p>
  <%= form.label :email%><br>
  <%= form.text_field :email%>  
</p>

<p>
  <%=form.submit({:class => "btn btn-primary"})%>
</p>

<% end %>

  