<h2> Hi <%= @client.name %></h2>

<p>Name: <%= @client.name %></p>
<p>Email: <%= @client.email %></p>
<br>
<%= link_to "Edit", edit_client_path(@client), class: 'btn btn-primary' %>
<%= link_to "Delete", client_path(@client),
    method: :delete, 
    data: {confirm: "Are You Sure"},
    class: 'btn btn-danger'
%>
<%= link_to "Back", clients_path, class: 'btn btn-secondary' %>